<div class="container-fluid text-center">
    <div class="row justify-content-center gx-2">
        <div class="col col-5">
            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Bezeichnung">
                <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
                <td mat-cell *matCellDef="let element"> {{element.Bezeichnung}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Beginn">
                <th mat-header-cell *matHeaderCellDef> Beginn </th>
                <td mat-cell *matCellDef="let element"> {{element.Beginn | date:'dd.MM.yyyy':'de-DE'}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Ende">
                <th mat-header-cell *matHeaderCellDef> Ende </th>
                <td mat-cell *matCellDef="let element"> {{element.Ende | date:'dd.MM.yyyy':'de-DE'}} </td>
                </ng-container>
                
                <ng-container matColumnDef="MeisterschaftstypID">
                    <th mat-header-cell *matHeaderCellDef> MeisterschaftstypID </th>
                    <td mat-cell *matCellDef="let element"> {{element.MeisterschaftstypID}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Meisterschaftstyp">
                    <th mat-header-cell *matHeaderCellDef> Meisterschaftstyp </th>
                    <td mat-cell *matCellDef="let element"> {{element.Meisterschaftstyp}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Aktiv">
                    <th mat-header-cell *matHeaderCellDef> Aktiv </th>
                    <td mat-cell *matCellDef="let element"> {{element.Aktiv}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> -->
            
            <mat-card appearance="outlined" class="p-1">
                <!-- ['ID', 'Bezeichnung', 'Beginn', 'Ende', 'MeisterschaftstypID', 'Meisterschaftstyp', 'Aktiv']; -->
                <wj-flex-grid #fgMeisterschaften [itemsSource]="data" style="height: 90vh;" (initialized)="init()" (selectionChanged)="selectedRow()"> 
                    <wj-flex-grid-column [header]="'ID'" [binding]="'ID'" [visible]="false"></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'Bezeichnung'" [binding]="'Bezeichnung'" ></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'Beginn'" [binding]="'Beginn'" format="dd.MM.yyyy" ></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'Ende'" [binding]="'Ende'" format="dd.MM.yyyy"></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'MeisterschaftstypID'" [binding]="'MeisterschaftstypID'" [visible]="false" ></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'Meisterschaftstyp'" [binding]="'Meisterschaftstyp'" ></wj-flex-grid-column> 
                    <wj-flex-grid-column [header]="'Aktiv'" [binding]="'Aktiv'" ></wj-flex-grid-column> 
                </wj-flex-grid>            
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card appearance="outlined">
                <mat-card-header>  
                    <mat-card-title>Meisterschaftsdetails</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group animationDuration="1000ms">
                            <mat-tab label="Meisterschaftsdaten">
                                <div class="mt-3">
                                    <form novalidate [formGroup]="meisterschaftdetailsForm">
                                        <div class="row">
                                            <mat-form-field class="col col-1" appearance="outline">
                                                <mat-label>ID</mat-label>
                                                <input matInput placeholder="ID" formControlName="ID">
                                            </mat-form-field>
                                            <mat-form-field class="col col-4" appearance="outline">
                                                <mat-label>Bezeichnung</mat-label>
                                                <input matInput placeholder="Bezeichnung" formControlName="Bezeichnung">
                                            </mat-form-field>
                                            <mat-form-field class="col col-1" appearance="outline">
                                                <mat-label>Aktiv</mat-label>
                                                <input matInput placeholder="Aktiv" formControlName="Aktiv">
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field class="col col-3" appearance="outline">
                                                <mat-label>Beginn</mat-label>
                                                <input matInput placeholder="Beginn" formControlName="Beginn">
                                            </mat-form-field>
                                            <mat-form-field class="col col-3" appearance="outline">
                                                <mat-label>Ende</mat-label>
                                                <input matInput placeholder="Ende" formControlName="Ende">
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field class="col col-5" appearance="outline">
                                                <mat-label>Meisterschaftstyp</mat-label>
                                                <input matInput placeholder="Meisterschaftstyp" formControlName="MeisterschaftstypID">
                                            </mat-form-field>                                            
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Teilnehmer">
                                <div class="mt-3">
                                    <p>Teilnehmer</p>
                                </div>
                            </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Neue Meisterschaft</button>
                    <button mat-button>Bearbeiten</button>
                    <button mat-button disabled="">Speichern</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>