<div class="container-lg text-center mx-auto">
  <div class="row">
    <div class="col">
      <mat-toolbar class="toolbar">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="icon" aria-label="icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu"> 
          <button mat-menu-item routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item routerLink="/aktuelles">
            <mat-icon>newspaper</mat-icon>
            <span>Aktuelles</span>
          </button>
          <button mat-menu-item routerLink="/termine">
            <mat-icon>calendar_month</mat-icon>
            <span>Termine</span>
          </button>
          <button mat-menu-item routerLink="/impressum">
            <mat-icon>info</mat-icon>
            <span>Impressum</span>
          </button>
        </mat-menu>
        
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <div class="row mt-5" style="height: 5vh;">
    <div class="col">
      <span>Copyright © {{ currentDate | date:'yyyy' }} by Thorsten Schröer </span>
    </div>
  </div>
</div>