/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* app.component */
.spacer {
    flex: 1 1 auto;
}

.toolbar {
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 24px;
}

/* module/mitgliederverwaltung.component */
.tree-progress-bar {
    margin-left: 15px;
}